# compiled code
__pycache__

# dependencies
METIS
lymph

# dataset
data/training*
data/validation*
data/inclusions*.vtk
data/logo.vtk

# outputs
data/*.png
data/images

# documentation output
build
_autosummary
docs/*.yml

# package
*.egg-info